{% extends 'layout.html' %}
{% load static %}
{% load user_time %}

{% block title %}
Job Lizard - {{ jobapp.company }}
{% endblock %}

{% block content %}
<style>
    .job-detail-wrapper {
        display: flex;
        align-items: flex-start;
        min-width: 700px;
        overflow-x: auto;
    }

    .job-detail-logo-col {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0 20px;
    }

    .job-detail-logo {
        width: 200px;
    }

    .job-detail-content {
        flex: 1;
        min-width: 0;
    }
</style>

<div class="job-detail-wrapper">
    <div class="job-detail-logo-col">
        <img src="{% static 'media/hr_lizard.png' %}" alt="HR Lizard" class="job-detail-logo">
        <div class="comments-log mt-2">
            <table class="table table-sm table-striped table-bordered">
                <thead class="table-success">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Update</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in job_comments %}
                <tr>
                    <td>{{ comment.change_dt|user_localtime:request.user|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ comment.text }}</td>
                    <td>
                        <form method="POST" action="{% url 'jobapp' job_id=jobapp.id %}" class="d-inline"
                              onsubmit="return confirm('Delete this comment?');">
                            {% csrf_token %}
                            <input type="hidden" name="delete_comment_id" value="{{ comment.id }}">
                            <button type="submit" class="btn btn-outline-danger btn-sm" title="Delete comment">&times;
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <form method="POST" action="{% url 'jobapp' job_id=jobapp.id %}">
                {% csrf_token %}
                <div class="mb-2">
                    <input type="text" class="form-control form-control-sm" name="comment_text"
                           placeholder="Add a comment">
                </div>
                <button type="submit" class="btn btn-success btn-sm">Add</button>
            </form>
        </div>
    </div>
    <div class="container-sm job-detail-content">
        <div class="row mb-1 text-align-start">
            <div class="col">
                <a href="{% url 'edit-job' jobapp.id %}" class="btn btn-success m-3" type="submit">Edit Application</a>
            </div>
        </div>
        <div class="row mb-1 text-align-start">
            <div class="col">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Job Title</p>
            </div>
            <div class="col">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Company</p>
            </div>
            <div class="col-3">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Date</p>
            </div>
        </div>
        <div class="row mb-4 text-align-start">
            <div class="col text-start">
                {{ jobapp.title }}
            </div>
            <div class="col text-start">
                {{ jobapp.company }}
            </div>
            <div class="col-3 text-start">
                {{ jobapp.applied_dt|user_localtime:request.user|date:"SHORT_DATE_FORMAT" }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">City / State</p>
            </div>
            <div class="col-2 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Locality</p>
            </div>
            <div class="col-2 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Job ID</p>
            </div>
            <div class="col-2 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Location Type</p>
            </div>
            <div class="col-3 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Contractor</p>
            </div>
        </div>
        <div class="row mb-4 text-align-start">
            <div class="col-2 text-start">
                {{ jobapp.city }}
            </div>
            <div class="col-1 text-start">
                {{ jobapp.state }}
            </div>
            <div class="col-2 text-start">
                {{ jobapp.locality }}
            </div>
            <div class="col-2 text-start">
                {{ jobapp.job_id }}
            </div>
            <div class="col-2 text-start">
                {{ jobapp.location_type }}
            </div>
            <div class="col-3 text-start">
                {{ jobapp.contractor_name }}
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-3 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Job Status</p>
            </div>
            <div class="col-2 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Pay Rate</p>
            </div>
            <div class="col-2 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Job Source</p>
            </div>
            <div class="col-5 my-2 text-start">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Job URL</p>
            </div>
        </div>
        <div class="row mb-4 text-align-start">
            <div class="col-3 text-start">
                {{ jobapp.job_status }}
                <form class="d-flex" method=POST action="{% url 'jobapp' job_id=jobapp.id %}">
                    {% csrf_token %}
                    <select class="form-select m-3" aria-label="Status Update" name="job_status_update">
                        <option selected></option>
                        {% for status_type in status_types %}
                        <option>{{ status_type }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-outline-success btn-sm m-3" type="submit">
                        Update
                    </button>
                </form>
            </div>
            <div class="col-2 text-start">
                {{ jobapp.payrate }}
            </div>
            <div class="col-2 text-start">
                {{ jobapp.job_source }}
            </div>
            <div class="col-5 text-start">
                {% if jobapp.job_url == "" %}
                <p>None</p>
                {% else %}
                <a class="link-success link-offset-1 link-underline-opacity-50"
                   href="{{ jobapp.job_url }}" target="_blank">
                    {{ jobapp.title }} - {{ jobapp.company }}
                </a>
                {% endif %}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <p class="h4 bg-success bg-opacity-10 text-success px-2 py-1 rounded">Description</p>
                <div class="description-content" style="white-space: pre-wrap;">{{ jobapp.description|safe }}</div>
            </div>
        </div>

    </div>
</div>

{% endblock %}