{% extends 'layout.html' %}

{% block title %}
Job Tracker - New Job App
{% endblock %}

{% block content %}
<div class="container-sm text-bg-light p-3 rounded-5">
    <div class="row align-items-start">
        <div class="col mb-3">
            <h1>New Job Application</h1>
        </div>
    </div>
    <div class="form-group">
        <div class="row align-items-start mb-2">
            <div class="col-8 m-3 text-top">

                <form action="{% url 'new-job' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-light mt-3">Add Job</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
