{% extends 'layout.html' %}

{% block title %}
Job Tracker - New Job App
{% endblock %}

{% block content %}
{% if jobapps %}
<div class="container m-2">
    <div class="row p-1">
        <div class="jobapp col-3 text-start">
            <h2 class="display-6 text-secondary ms-2"><b>Jobs Applied for</b></h2>
        </div>
        <div class="jobapp col text-start">
            <form class="d-flex" method=POST action="{% url 'search' %}">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="search jobs" aria-label="Search"
                       name="search_terms">
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>

    <div class="container p-2">
        <table class="table table-light table-striped">
            <tr>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Date</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Status</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Job Title</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Company</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">City/State</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Source</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Job Number</p>
                </td>
            </tr>
            {% for jobapp in jobapps %}
            <tr>
                <td class="jobapp col-1 text-start">{{ jobapp.applied_dt|date:"SHORT_DATE_FORMAT" }}</td>
                <td class="jobapp col text-start text-secondary">
                        {{ jobapp.job_status }}
                </td>
                <td class="jobapp col text-start">
                    <a href="{% url 'jobapp' job_id=jobapp.id %}">
                        {{ jobapp.title }}
                    </a>
                </td>
                <td class="jobapp text-start">
                    {{ jobapp.company }}
                </td>
                <td class="jobapp text-start">
                    {{ jobapp.city }} {{ jobapp.state }}
                </td>
                <td class="jobapp text-start">
                    {{ jobapp.job_source }}
                </td>
                <td class="jobapp text-start">
                    {{ jobapp.job_number }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <div class="container m-2">
        <div class="row p-1">
            <div>
                <h2 class="display-6 text-secondary ms-2"><b>No Results for "{{ search_terms }}"</b></h2>
            </div>
            <div class="jobapp col text-start">
                <form class="d-flex" method=POST action="{% url 'search' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="search jobs" aria-label="Search"
                           name="search_terms">
                    <button class="btn btn-primary" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% endif %}
</div>

{% endblock %}
