{% extends 'layout.html' %}

{% block title %}
Job Lizard - Main
{% endblock %}

{% block content %}
<div class="container m-2">
    <p class="h4 bg-success text-light">Job Statistics</p>
    <p><b>Total jobs applied for:</b> {{ jobcount }}</p>
</div>

<div class="container m-2">
    <p class="h4 bg-success text-light">Count By Date</p>
    <div class="row p-1">
            <div class="jobapp col-2 text-start"><b>Date</b></div>
            <div class="jobapp col-2 text-start"><b>Number of jobs</b></div>
    {% for count in daily_counts %}
        <div class="row p-1">
            <div class="jobapp col-2 text-start">
                {{ count.applied_dt|date:"SHORT_DATE_FORMAT" }}
            </div>
            <div class="jobapp col-1 text-start">
                {{ count.date_count }}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
