{% extends 'layout.html' %}

{% block title %}
Job Lizard - Main
{% endblock %}

{% block content %}
<div class="container m-2">
    <div class="row">
        <div class="jobapp col-12 text-start">
            {% if logged_in %}
            <h2 class="display-6 text-secondary ms-2"><b>Statistics For {{ username }}</b></h2>
            {% else %}
            <h2 class="display-6 text-danger ms-2">Login to see statistics</h2>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if logged_in %}
        <div class="col-4">
            <p class="h4 bg-success text-light">Application Statistics</p>
            <p><b>Total job applications in the last 30 days:</b> {{ jobcount }}</p>
        </div>
        {% endif %}
    </div>
</div>

<div class="container m-2">
    <div class="row p-1">
        <div class="col-4">
            <p class="h4 bg-success text-light">Count By Date</p>
        </div>
    </div>
    <div class="row p-1">
        <div class="jobapp col-2 text-start"><b>Date</b></div>
        <div class="jobapp col-2 text-start"><b>Number of jobs</b></div>
        {% for count in daily_counts %}
        <div class="row p-1">
            <div class="jobapp col-2 text-start">
                {{ count.applied_dt|date:"SHORT_DATE_FORMAT" }}
            </div>
            <div class="jobapp col-1 text-start">
                {{ count.date_count }}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
