{% extends 'layout.html' %}

{% block title %}
Job Lizard - Contractor List
{% endblock %}

{% block content %}

<div class="container m-2">
    <div class="row p-1">
        <div class="jobapp col text-start">
            <form class="d-flex" method=POST action="{% url 'search' %}">
                {% csrf_token %}
                    <button class="btn btn-success" type="submit">
                    New Contractor
                </button>
            </form>

        </div>
    </div>

    <div class="container p-2">
        <table class="table table-light table-striped">
            <tr>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Name</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Company</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Phone</p>
                </td>
                <td class="jobapp text-start">
                    <p class="h4 h4 text-dark">Email</p>
                </td>
            </tr>
            {% for contractor in contractors %}
            <tr>
                <td class="jobapp col text-start">
                    {{ contractor.name }}
                </td>
                <td class="jobapp col text-start">
                    {{ contractor.company }}
                </td>
                <td class="jobapp text-start">
                    {{ contractor.phone }}
                </td>
                <td class="jobapp text-start">
                    {{ contractor.email }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
