{% extends 'layout.html' %}
{% load static %}

{% block title %}
Job Lizard - New Contractor
{% endblock %}

{% block content %}
<style>
    .job-detail-wrapper {
        display: flex;
        align-items: flex-start;
        min-width: 700px;
        overflow-x: auto;
    }

    .job-detail-logo {
        width: 200px;
        flex-shrink: 0;
        margin: 0 20px;
    }

    .job-detail-content {
        flex: 1;
        min-width: 0;
    }
</style>

<div class="job-detail-wrapper">
    <img src="{% static 'media/hr_lizard.png' %}" alt="HR Lizard" class="job-detail-logo">
    <div class="container-sm text-bg-light p-3 rounded-5">
        <div class="row align-items-start">
            <div class="col mb-3">
                <h1>New Contractor</h1>
            </div>
        </div>
        <div class="form-group">
            <div class="row align-items-start mb-2">
                <div class="col-8 m-3 text-top">

                    <form action="{% url 'contractors:new_contractor' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success mt-3">Add Contractor</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
